@mixin input-bar {
    border: none;
    background-color: #F5F5F5;
    border-radius: 5px;
    line-height: 40px;
    padding: 0 15px;
}

@mixin brand-button {
    background-color: #20AD96;
    color: white;
    border: none;
    border-radius: 5px;
    line-height: 45px;
    font-weight: bold;
    cursor: pointer;
}

@mixin big-title {
    font-size: 40px;
    color: #3f3a64;
    font-weight: bold;
    line-height: 43px;
}

@mixin small-title {
    font-size: 20px;
    color: #3f3a64;
    font-weight: bold;
    line-height: 30px;
}

@mixin link {
    font-weight: bold;
    color: #20AD96;
    text-decoration: underline #B1B1B1;
    cursor: pointer;
}