.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.col-6 {
    width: 50%;
}

.col-4 {
    width: 33.33%;
}

.col-2 {
    width: 16.66%;
}

.small-font {
    font-size: 13px;
}